services:
  api:
    build:
        context: .
        dockerfile: Dockerfile
    image: verso_image
    container_name: verso_container
    command: ["java", "-jar", "/app/app.jar"]
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    restart: always

  db:
    image: postgres:18
    container_name: verso_db
    ports:
      - "5433:5432"
    env_file:
      - .env
    volumes:
      - ./postgres-data:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      retries: 5
    restart: always

  prometheus:
    image: prom/prometheus:latest
    container_name: verso_prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - api

volumes:
  postgres_data:
