spring:
  application:
    name: verso

  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

server:
  port: ${SERVER_PORT}

management:
  server:
    port: ${MANAGEMENT_PORT}
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
  endpoint:
    prometheus:
      enabled: true
  health:
    show-details: always
  metrics:
    tags:
      application: verso
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
      percentiles:
        http.server.requests: 0.5,0.75,0.95,0.99

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    filter: true
    doc-expansion: none
  packages-to-scan: br.com.gabrielcaio.verso.controllers
  paths-to-match: /verso/**

logging:
  pattern:
    console: "%msg%n"
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: WARN
  file:
    name: logs/verso.log

management.tracing:
  enabled: true
  sampling:
    probability: 1.0
  propagation:
    type: b3
