apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: PROM_DS
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      queryTimeout: "60s"
      httpMethod: "POST"